# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

schedules:
  - cron: '0 3 * * *'
    displayName: 'Deploy every day at 3 A.M.'
    branches:
      include:
      - release
    always: false

steps:
- script: echo Hello, world!
  condition: |
    and
    (
      succeeded(),
      eq(variables['Build.SourceBranchName'], 'release')
    )

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

# - stage: 'Test'
#   displayName: 'Deploy to the Test environment'
#   condition: and(succeeded(), eq(variables['Build.Reason'], 'Schedule'))

# - stage: 'Deploy'
#   displayName: 'Deploy the web application'
#   dependsOn: Build
#   jobs:
#   - deployment: Deploy
#     pool:
#       vmImage: 'ubuntu-20.04'
#     environment: dev
#     variables:
#     - group: Release